<!-- 
	Il s'agit du layout pour les vues du CoreBundle que je dois créer 
	pour l'activité 1; non-spécifique à la plate-forme d'annonces.
-->
<!DOCTYPE html>
<html>
<head>
	<title>{% block title %}{% endblock %}</title>
	<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
</head>

<body>
	<div class="container">
		{% block body %}
		{% endblock %}

		<div class="row">
			<footer>
				<hr>
				<p><a href="{{ path('oc_core_contact') }}">Nous contacter (lien page contact)</a></p>
			</footer>
		</div>
	</div>


</body>

</html>
