{% extends 'OCCoreBundle::layout.html.twig' %} 
{% use 'OCCoreBundle:Core:contact.html.twig' %}


{% block title %}Page d'accueil{% endblock %}

{% block titrePage %}Page d'accueil{% endblock %}

{% block body %}
	<!-- 
	Il s'agit d'une page d'accueil, non spécifique à la
	plate-forme d'annonces. Du coup, on utilisera pas son layout général.

	J'ai fais un petit layout (coreLayout.html.twig) pour la peine.
	-->
	{% block messageFlash %}{{ parent() }}{% endblock %}

	<h3 style="margin-top: 10px;">Dernières annonces :</h3>
	<ul>
		{{ render(controller("OCPlatformBundle:Advert:menu", {'limit': 3})) }}
	</ul>
{% endblock %}